[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:leopoldsedev/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com-leopoldsedev:leopoldsedev/leopoldsedev.github.io.git
	branch = master
