html {
	margin: 0px;
	height: 100%;
}

body {
	background-color: #3d3d3d;
	margin: 0px;
	height: 100%;
	width: 90%;
	margin-left:auto;
    margin-right:auto;
}

.flex-container {
	display: flex;
	align-items: center;
	margin: 0px;
	height: 100%;
	flex-direction: column;
}

#intro-container {
	margin-top: 100px;
	color: white;
	font-size: 4em;
	font-family: 'Quicksand', sans-serif;
}

#name {
	border-bottom: 10px solid #c83737;
}

#link-container {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
}

.link-icon-container {
	margin: 0 10px;
	padding: 10px;
	cursor: pointer;
}

.link-icon {
	fill: white;
	width: 15vw;
}

.link-icon-container:hover svg {
	fill: #c83737;
}

#logo {
	width: 100%;
	margin-top: 15vh;
}

#email-popper {
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}

#email-link {
	color: white;
}

@media only screen and (min-width: 1081px) {
	body {
		width: 50%;
	}

	#intro-container {
		font-size: x-large;
	}

	.link-icon {
		fill: white;
		width: 5vw;
	}

	#name {
		border-bottom: 5px solid #c83737;
	}
}
